<h3><%= comment.comment_reply ? "REPLY" : "COMMENT" %>: <%= comment.user.profile.name %></h3>
<p><%= comment.body %></p>
<p>
  Created at <%= comment.created_at %> 路 

  <% if current_user.liked_comments.include?(comment) %>
    <%= link_to 'Unlike', like_path(comment.likes.find_by(user: current_user)), method: :delete, data: {turbo_method: :delete}%>
  <% else %>
    <%= link_to 'Like', likes_path(likeable_id: comment.id, likeable_type: 'comment'), method: :post, data: {turbo_method: :post} %> 路 
  <% end %>

  <%= link_to "Reply", new_post_comment_path(comment.post, reply_to_comment: comment.id) %> 路 
  <%= comment.likers.count %> 

  <% if comment.user_id == current_user.id %>
     路 <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
     路 <%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: {turbo_method: :delete} %>
  <% end %>
</p>