<div>
  <%= form_with model: post do |form| %>
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body, rows:"5" %>
    </div>
    <div>
      <%= form.label :profile_image %>
      <%= form.file_field :profile_image %>
    </div>
    <div>
      <%= form.label :post_image %>
      <%= form.file_field :post_image %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>