<div class="container">
  <div class="posts scrollable-content">
    <div class="posts-wrapper">
      <div class="posts-form">
        <% if current_user.profile %>
          <%= profile_image(user: current_user, class_list: "profile-picture-medium") %>
          <p>What's on your mind, <%= current_user.profile.name.split[0] %>?</p>
          <%= link_to "New Post", new_post_path %>
        <% else %>
          <%= link_to "Create your profile", new_profile_path %>
        <% end %>
      </div>
      <div class="posts-list">
        <%= render @posts %>
      </div>
    </div>
  </div>

  <div class="followers scrollable-content">
    <%= render 'followers/followers' %>
  </div>
</div>